{
  "presets": ["next/babel", "@babel/preset-flow"],
  "plugins": [
    "@babel/plugin-proposal-optional-chaining",
    ["styled-components", { "ssr": true }],
    ["module-resolver", { "root": ["./"] }]
  ]
}
